%if currentuser%
<p>Ya tenés una cuenta y has iniciado sesión, seguramente llegaste a esta página por error.</p>
<p><a href="/">Regresá a la página principal</a></p>
%else%
<h3>Registro</h3>
<form method="post" action="signup">

    <label>Nombre:</label>
    <div>
        <input type="text" placeholder="Nombre de organizador" name="name">
    </div>

    <label>Usuario:</label>
    <div>
        <input type="text" placeholder="Nombre de usuario" name="username">
    </div>

    <label>Correo Electrónico:</label>
    <div>
        <input type="email" placeholder="Correo Electrónico" name="email">
    </div>

    <label>Contraseña:</label>
    <div>
        <input type="password" placeholder="Contraseña" name="password">
    </div>

    <button type="submit">Crear cuenta</button>
</form>

%endif%
<script>
    document.getElementsByTagName("main")[0].className = "login"
</script>
